{% load static %}
<link rel="stylesheet" href="{% static 'housewise/login.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="{% static 'housewise/javascript/logins.js' %}"></script>

<div class="container">
	<!-- Display messages -->
	{% if messages %}
	<div class="alert">
		{% for message in messages %}
			<div class="alert__message">{{ message }}</div>
		{% endfor %}
	</div>
    {% endif %}
    <div class="screen">
        <div class="screen__content">
            <div class="screen__header">
                <h2>HouseWise</h2>
            </div>
            <form class="login" method="POST" action="{% url 'login' %}?next={{ request.GET.next|default:'' }}">
                {% csrf_token %}
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" name="username_or_email" class="login__input" placeholder="Email/Username" required>
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" name="password" class="login__input" placeholder="Password" required>
                </div>
                <button type="submit" class="button login__submit">
                    <span class="button__text">Log In Now</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>
            <div class="social-login">
                <h3>log in via</h3>
                <div class="social-icons">
                    <a href="#" class="social-login__icon fab fa-google"></a>
                </div>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>

    <div class="logo-container">
        <img src="{% static 'images/housewise.png' %}" alt="Logo" class="logo-image">
    </div>
</div>
