{% load static %}
<link rel="stylesheet" href="{% static 'housewise/menu.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<script src="{% static 'housewise/javascript/menu.js' %}"></script>
<script src="{% static 'housewise/javascript/dropdown.js' %}"></script>


<div class="container">
<!-- Display messages -->
{% if messages %}
<div class="alert">
    {% for message in messages %}
        <div class="alert__message">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
    <div class="header">
        <div class="logo">
            <img src="{% static 'images/housewise.png' %}" alt="Logo" class="logo-image">
        </div>
        <div class="header-option">
            <button class="home-option">
                <span class="Home">Home</span>
            </button>
            <button class="script-option" onclick="redirectToScripts()">
                <span class="Script">Script</span>
            </button>       
        </div>        
        <div class="logout">
            <button class="dropdown-btn" data-username="{{ username }}">
                <span> {{ request.user.username }} </span> <!-- Text for the dropdown button -->
                <i class="fas fa-chevron-down"></i> <!-- Dropdown arrow icon -->
            </button>
            <div class="dropdown-content">
                <a href="#" class="profile-option" onclick="redirectToProfile()">
                    <i class="fas fa-user"></i> Profile
                </a>
                <a href="#" class="logout-option" onclick="redirectToLogout()">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
        </div>        
    </div>
    <div class="option">
        <button class="button_user" onclick="redirectToUser()">
            <span class="User">User</span>
            <i class="button_icon fas fa-user"></i>
        </button>
        <button class="button_materials" onclick="redirectToMaterials()">
            <span class="Materials"> Materials</span>
            <i class="fa-solid fa-screwdriver-wrench"></i>
        </button>
        <button class="button_feedbacks" onclick="redirectToFeedbacks()">
            <span class="Feedbacks">Feedbacks</span>
            <i class="fa-regular fa-comment-dots"></i>
        </button>
        
    </div>



</div>

<script>
    document.querySelector('.dropdown-btn').addEventListener('click', function() {
        document.querySelector('.logout').classList.toggle('active');
    });
</script>
