{% load static %}
<link rel="stylesheet" href="{% static 'housewise/profile.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<script src="{% static 'housewise/javascript/scripts.js' %}"></script>

<div class="container">
    <div class="back-button">
        <button class="back-btn" onclick="redirectToMenu()">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
    </div>
    <div class="content">
        <div class="left-side">
            <div class="profile-picture">
                <img src="{% static 'images/profile.jpg' %}" alt="Profile Picture" class="profile-image">
            </div>
        </div>
        <div class="right-side">
            <div class="details">
                <div class="name">
                    <span>Name: </span><span id="user-name">John Doe</span>
                    <i class="fa-solid fa-pen-to-square edit-icon"></i>
                </div>
                <div class="username">
                    <span>Username: </span><span id="user-username">john.doe</span>
                    <i class="fa-solid fa-pen-to-square edit-icon"></i>
                </div>
                <div class="email-add">
                    <span>Email: </span><span id="user-email">john.doe@example.com</span>
                    <i class="fa-solid fa-pen-to-square edit-icon"></i>
                </div>
                <div class="password">
                    <span>Password: </span><span id="user-password">********</span>
                    <i class="fa-solid fa-pen-to-square edit-icon"></i>
                </div>
                <div class="birth-date">
                    <span>Birth Date: </span><span id="user-birthdate">1990-01-01</span>
                    <i class="fa-solid fa-pen-to-square edit-icon"></i>
                </div>
            </div>
            <hr class="separator-line">
            <div class="logs">
                <h4>Login Logs:</h4>
                <div class="log-entry">2024-09-01 10:15 AM</div>
                <div class="log-entry">2024-09-15 11:30 AM</div>
                <div class="log-entry">2024-09-20 03:45 PM</div>
            </div>
        </div>        
    </div>
</div>

